.header {
    display: flex;
    background-color: #24292e;
    color: hsla(0,0%,100%,.7);
    font-size: 14px;
    line-height: 1.5;
    padding: 16px;
    z-index: 32;
}

.add-note-button {
    margin-left: 10px;
}
